.main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align:center;
    align-self:center;
    flex-basis: content;
}
#secondary{
    margin-top:0;
}

.widget h2{
    margin-top:0;
    background-color:maroon;
    color:white;
}

.widget h3{
    color:maroon;
    font-weight: bold;
    text-decoration:none;
}
.widget h3 a {
    color:maroon;
    font-weight: bold;
    text-decoration:none;
}
.widget h3 a:visited{
    color:maroon;
    text-decoration: none;
}

.widget li{
    margin:auto;
}


.main_container ul{
    list-style:none;
    justify-content:center;
}

.widget{
    border: 1px solid black;
}

ul{
    padding:0;
}
li{
    margin:0;
}

.calendar_contact_group{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.calendar_contact_group .widget{
    flex-grow: 1;
}
iframe{
    height:100%;
    width:100%;;
}


@media only screen and (min-width: 1024px){
    .main_container{
        flex-direction: row-reverse;
    }

    .column{
        display:flex;
        flex-direction: column;
        flex-grow:1;
        /* justify-content: space-evenly; */
        margin:auto;
    }
    #primary{
        flex-grow:2;
    }

    #secondary{
        margin-left:5%;
    }

    .calendar_contact_group{
        height:auto;
    }

    
}