.main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align:center;
    align-self:center;
    flex-basis: content;
	margin-bottom:3%;
}
#secondary{
    margin-top:0;
}

.welcome_message p{
    font-weight:bold;
    font-size: 1.5em;
}

.welcome_message h3{
    font-size:2em;
    color: maroon;
}

.widget h2{
    border-radius:25px 25px 0px 0px;
    margin-top:0;
    background-color:maroon;
    color:white;
}

.widget h3{ 
    color:maroon;
    font-weight: bold;
    text-decoration:none;
}
.widget h3 a {
    color:maroon;
    font-weight: bold;
    text-decoration:none;
}
.widget h3 a:visited{
    color:maroon;
    text-decoration: none;
}

.widget li{
    margin:auto;
}


.main_container ul{
    list-style:none;
    justify-content:center;
}

.widget{
    border-radius:25px;
    border: 1px solid black;
    background-color:white;
}

ul{
    padding:0;
}
li{
    margin:0;
}

.calendar_contact_group{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    
    
}

#event_header{
    margin-bottom:0;
}

.calendar_contact_group .widget{
    flex-grow: 1;
    overflow:hidden;
}

.contact_widget .admin_control{
    height:fit-content;
}
iframe{
    margin:0;
    height:100%;
    width:100%;;
}
@media only screen and (min-width:320px){
    .widget{
        margin-bottom:1em;
    }
    .calendar_contact_group{
        flex-direction:column;
    }
	.calendar_widget{
		height:fit-content;
	}
}

@media only screen and (min-width: 1024px){
    .main_container{
        flex-direction: row-reverse;
    }

    .column{
        display:flex;
        flex-direction: column;
        flex-grow:1;
        /* justify-content: space-evenly; */
        margin:auto;
    }
    #primary{
        flex-grow:10;
    }

    #secondary{
        margin-left:5%;
    }

    .calendar_contact_group{
		flex-direction:row;
        height:auto;
    }
	.calendar_widget{
		height:auto;
	}

    
}