 html{
    width:80%;
    /* margin-left: 3%;
    margin-right: 3%; */
    margin:auto;
}

body{
    width:100%;
    background-color:#EDE4C6;
}
a{
    color:black;
}
a:visited{
    color:maroon;
}

footer{
    align-content: center;
}

.forum_post{
    border: 1px solid black;
    margin-top: 25px;
}

textarea{
    width: 25%;
    height: 20%;
    margin-bottom: 5px;
}

.forum_reply{
    border: 1px solid black;
    margin: auto;
    text-align: right;
}

.hidden_id{
    visibility: hidden;
}

.add_resource_form{
    display:none;
}

/* .add_opp_form{
    display:none;
} */

.news_article{
    border-bottom: 1px solid black;
}

.hidden_contact_form{
    visibility: hidden;
}

.admin_control{
    background-color: lightblue;
    margin:auto;
}
@media only screen and (min-width:320px){
    #banner{
        text-align:center;
        width: 100%;
        margin-bottom: 1em;
        background-color:maroon;
        color:white;
    }
    
    .banner_text{
        
        font-weight:bold;
        font-size:2em;
    }
}

@media only screen and (min-width:1024px){
    
    #banner{
        text-align:left;
    }

    .banner_text{
        margin-left:3%;
        font-weight:bold;
        font-size:5em;
    }
}